<!doctype html>
<html class="no-js" lang="">

<head>
  {% load static %}
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!--<link rel="stylesheet" href="css/normalize.css">-->
  <!--<link rel="stylesheet" href="css/main.css">-->

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class = "toolbar">
    <img src="{% static 'img/logo.svg' %}" alt="logo">
    <nav>
      <ul class="nav-bar">
        <li>
          <a href="#">About</a>
          <a href="#">Candidates</a>
          <a href="#">Employment</a>
          <a href="#">FAQ</a>
          <a href="#">Log In</a>
          <a href="#" class="apply">Apply</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="cycle">
    <h1>We've all been there</h1>
    <h2>The endless cycle of passing around resumes and CVs</h2>
    <img src="{% static 'img/cycle.svg' %}" alt="cycle">
  </div>



  <div class="right_bridge_div">
    <div class="calendar">
      <ul>
        <li class="calendar-text">
          <h1>Waiting day after day for a response</h1>
          <h2>Hoping the interviews come before the semester ends</h2>
        </li>
        <li>
          <img src="{% static 'img/calendar.svg' %}" alt="calender">
        </li>
      </ul>

    </div>
    <img class="bridge_right" src="{% static 'img/right_bridge.svg' %}" alt="cycle" width="100%">
  </div>

  <div class="middle_bridge_div">
    <img class="middle_bridge" src="{% static 'img/middle_bridge.svg' %}" alt="cycle" width="100%">
  </div>

  <div class="left_bridge_div">
    <img class="left_bridge" src="{% static 'img/left_bridge.svg' %}" alt="cycle" width="100%">
  </div>

  <div class="whole_bridge_div">
    <img class="whole_bridge" src="{% static 'img/whole_bridge.svg' %}" alt="cycle" width="100%">
  </div>

  <div class="footer">

  </div>
  <!-- Add your site or application content here -->

  <script src="{% static 'js/vendor/modernizr-3.7.1.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
